* {
  box-sizing: border-box;
}

:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
    max-width: 1900px;
    margin: 0 auto;
}

.panel {
  max-width: 80%;
  margin: 1rem auto;
  font-size: 1.2em;
  border-left: 10px solid rgb(32, 102, 128);
  background-color: lightblue;
  padding-left: 1em;
}

.panel img {
  width: 200px;
  height: auto;
  float: left;/*HACER QUE EL TEXTO SE MUESTRE A LA PAR DE LA IMAGEN, none, right*/
}

/*HACE QUE SI NUESTRO DIV TIENE ELEMENTOS FLOTANTES, ESTOS NO SE SALGAN DEL DIV
SE LE APLICA A LA CLASE QUE TIENE ELEMENTOS FLOTANTES*/

.clearfix {
  overflow: auto;
}

.clearfix::after {/*CORRIGE LA FORMA EN LA QUE FLOTAN LAS COSAS*/
  content: "";/*ACA PODEMOS PONER EL CODIGO DEL ICONO*/
  clear: both;/*QUE LIMPIE LO QUE ESTABA FLOTAND(PONERLO ABAJO)*/
  display: table;/*PONGA UN DISPLAY DE TIPO TABLA*/
}

.prueba-rem {
  font-size: 0.5em; /*8px*/
}

.prueba-rem > div {
  border: 1px solid green;
  font-size: 0.5em; /* 6px */
}


.prueba-rem > div > div {
  border: 1px solid purple;
  font-size: 0.5rem; /* 6px */
} 