* {/*PERSONALOZAR LA FORMA DE LA CAJA*/
  box-sizing: inherit;
}

:root {/*PARA COMBINAR 2 ESTILOS DE DISENIO*/
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  max-width: 100%;
}

.header,
.footer {
  background-color: gray;
  color: white;
  padding: 15px;
}

.column {
  float: left;/*HACEMOS FLOTAR LA COLUMNA*/
  padding: 15px;
}

.clearfix::after {/*APLICAMOS CLARFIX PORQUE SE ESTABA PERDIENDO EL TAMANIO*/
  content: " ";
  clear: both;
  display: table;
}

.menu {
  width: 25%;
}

.content {
  width: 75%;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {/*EDITANDO LOS li DE FORMA ESTETICA*/
  padding: 8px;
  margin-bottom: 8px;
  background-color: teal;
}

.menu li a {/*EDITANDO LOS li DE FORMA INTERNA*/
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-weight: bold;/*GROSOR DE LA FUENTE*/
}

.menu li:hover {
  background-color: rgb(2, 90, 90);
}
