.dropdown-btn{
    background-color: #333;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;/*LA POSICION RLATIVADE UNA COSA NOS AYUDA A MANIPULAR EL RESTO DE COSAS*/
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;/*COMO EL PADRE ES RELATIVO, ACA PODEMOS CONTROLAR CON ABSOCLUTA*/
    background-color: #f9f9f9;
    min-width: 160px;
    /*0px(desplazar en "x") 8px(desplazar en "y") 16px(blur de la sobra) 0px(que tanto se exparse la sombra)*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.subMenu {
    list-style-type: none;
    margin:0;
    padding: 0;
}

.subMenu li a{
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: #333;
}

.subMenu li a:hover {
    background-color: #333;
    color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.right {
    float: right
}

.dropdown.right .dropdown-content {/*CUANDO ESTE A LA DERECHA, QUE DESPLIEGUE LOS ENLACES A LA IZQUIERDA*/
    right: 0;
}