
.fa-cloud {
    color: red;
    font-size: 2em;
}
/*
.cloud-red {
    color: red;
    font-size: 2em;
}

.fas{
    color: red;
    font-size: 2em;
}

.material-icons {
    color: blue;
    font-size: 2em;   
}
*/