ul {/*PARA UNORDER LIST*/
    list-style-type: none;/*circle,disc,square,triangle*/
    list-style-position: outside;/*inside*/

    list-style: square outside;
    background-color: tomato;
}

ol {/*PARA ORDER LIST*/
    list-style-type: upper-roman;/*upper-alpha, upper-roman, upper-latin*/
   /* list-style-image: url('./img/list.png'); PARA PONER UNA IMAGEN COMO ICONO*/
}

ul li {/*PARA TODOS LOS li QUE SEAN HIJPS DE ul*/
    background-color: yellow;
}